<h2>New reply</h2>

<div class="postBox">
    <form action="{{ path('imageboard_reply_new', {'id': id}) }}" method="post" {{ form_enctype(form) }}>
        {{ form_errors(form) }}

        {{ form_row(form.message) }}
        {{ form_row(form.image) }}
        <div>
            {{ form_widget(form.Reply, {'attr': {'class': 'btn btn-primary' }}) }}
        </div>
        {{ form_rest(form)}}
    </form>
</div>