<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset={{ _charset }}"/>
    <meta name="robots" content="noindex,nofollow"/>
    <title>{% block title %}{% endblock %}</title>
    <link href="{{ asset('bundles/framework/css/structure.css') }}" rel="stylesheet" type="text/css" media="all"/>
    <link href="{{ asset('bundles/framework/css/body.css') }}" rel="stylesheet" type="text/css" media="all"/>
    {% block head %}{% endblock %}
</head>
<body>
<div id="pageContent" class="container">
    <div class="header clear-fix">
        <ul class="nav">
            <li><a href="{{ path('imageboard_homepage') }}"><span class="glyphicon glyphicon-home"></span> Home</a></li>
            {% if app.user %}
                <li><a href="{{ path('account_logout') }}"><span class="glyphicon glyphicon-remove"></span> Logout</a></li>
            {% else %}
                <li {% if app.request.get('_route') == 'imageboard_user_register' %}class="active"{% else %}{% endif %}>
                    <a href="{{ path('imageboard_user_register') }}"><span class="glyphicon glyphicon-pencil"></span> Register</a>
                </li>
                <li><a href="{{ path('account_login') }}"><span class="glyphicon glyphicon-user"></span> Login</a></li>
            {% endif %}
        </ul>
        <div class="header-logo">
            <a href="{{ path('imageboard_homepage') }}">
                <img src="{{ asset('symfaba_logo-small.png') }}">
            </a>
        </div>
    </div>
    {% block navbar %}

            {% if app.debug %}
            {% endif %}

                <p class="status">
                    {% if app.user %}
                        Signed in as {{ app.user.displayname }}
                    {% else %}
                        Welcome
                    {% endif %}
                </p>
    {% endblock %}

    {% block body %}{% endblock %}

</div>
{% block footer %}
    <div id="footer" class="container">
        <div class="row">
            <div class="col-md-12 text-center">
                Symfaba Imageboard - <a href="https://github.com/dominickp/p4.kaomoj.in" target="_blank">GitHub</a> - &copy; 2013 Dominick Peluso - Project 4 for <a href="http://dwa15.com/" target="_blank">CSCI E-15 Dynamic Web Applications</a>
            </div>
        </div>
    </div>
{% endblock %}

<script src="{{ asset('js/quoting.js') }}"></script>

</body>
</html>