<h2>Start a new thread</h2>
<div class="postBox">
    <form action="{{ path('imageboard_thread_new') }}" method="post" {{ form_enctype(form) }}>
        {{ form_errors(form) }}

        {{ form_row(form.subject) }}
        {{ form_row(form.message) }}
        {{ form_row(form.image) }}
        <div>
            {{ form_widget(form.Submit, {'attr': {'class': 'btn btn-primary' }}) }}
        </div>
        {{ form_rest(form)}}
    </form>
</div>