{% extends "DominickImageboardBundle::layout.html.twig" %}

{% block title thread.subject %}

    {% block content_header '' %}

        {% block content %}
        <div class="row">
            <div class="col-md-6">
                {{ render(controller('DominickImageboardBundle:Reply:new', {'id': thread.id})) }}
            </div>
            <div class="col-md-6">
            </div>
        </div>

        <div class="thread" id="{{thread.id}}">
            <a class="threadImage" href="{{ asset('img_data/thread/'~thread.image) }}" target="_blank">
                <img src="{{ asset('img_data/thread/'~thread.thumbnail) }}">
            </a>
            <div class="threadHeader">
                {% if is_granted('ROLE_ADMIN') %}
                    <a class="btn btn-danger btn-xs deleteButton" href="{{ path('imageboard_thread_delete', {'id':thread.id}) }}">Delete Thread</a>
                {% endif %}
                <a class="threadId" href="{{ path('imageboard_reply_new', {'id':thread.id}) }}">No.{{thread.id}}</a> // <span class="subject">{{thread.subject}}</span> <a class="btn btn-default replyButton" href="{{ path('imageboard_reply_new', {'id':thread.id}) }}"><span class="glyphicon glyphicon-comment"></span> Reply</a>
                <br>
                <span class="author">
                {% if thread.user.getDisplayName is defined %}
                    {{thread.user.getDisplayName}}
                {% else %}
                    Anonymous
                {% endif %}
                </span>
                <span class="threadId">{{thread.created|date('m-d-Y G:iA')}}</span>
            </div>
            <p class="message">{{thread.message}}</p>

            {% for reply in replies %}
                <div class="reply">
                    {% if reply.image is not empty %}
                        <a class="replyImage" href="{{ asset('img_data/reply/'~reply.image) }}" target=_blank">
                            <img src="{{ asset('img_data/reply/'~reply.thumbnail) }}">
                        </a>
                    {% endif %}
                    <div class="replyHeader">
                        <span class="threadId">
                            <a href="#" data-id="{{reply.id}}">No.{{reply.id}}</a>
                        </span>
                        <span class="author">
                            {% if reply.user.getDisplayName is defined %}
                                {{reply.user.getDisplayName}}
                            {% else %}
                                Anonymous
                            {% endif %}
                        </span>
                        <span class="threadId">{{reply.created|date('m-d-Y G:iA')}}</span>
                        {% if (reply.getSize/1024)|number_format(0) != 0 %}
                            <span class="fileSize">{{ (reply.getSize/1024)|number_format(0) }} KB</span>
                        {% endif %}
                    </div>
                    {% if is_granted('ROLE_ADMIN') %}
                        <a class="btn btn-danger btn-xs deleteButton" href="{{ path('imageboard_reply_delete', {'threadId':thread.id, 'replyId':reply.id}) }}">Delete Reply</a>
                    {% endif %}
                    <p class="message">{{ reply.message }}</p>
                </div>
                <div class="clearfix"></div>
            {% endfor %}

            <div class="clearfix"></div>
        </div>
        {% endblock %}