{% extends "DominickImageboardBundle::layout.html.twig" %}

{% block title "Imageboard Home" %}

    {% block content_header '' %}

        {% block content %}
            You are now viewing the homepage
            <br>
            <div id="latestThreads">

                <h2>Latest threads</h2>
                <hr>
                {% for thread in threads %}
                    <div class="thread" id="{{thread.id}}">
                        <img class="threadImage" src="{{ asset('img_data/thread/'~thread.image) }}">
                        <div class="threadHeader">
                            <a class="threadId" href="{{ path('imageboard_reply_new', {'id':thread.id}) }}">No.{{thread.id}}</a> // <span class="subject">{{thread.subject}}</span> <a class="btn btn-default replyButton" href="{{ path('imageboard_reply_new', {'id':thread.id}) }}"><span class="glyphicon glyphicon-comment"></span> Reply</a>
                            <br>
                            <span class="author">{{thread.user.getDisplayName}}</span>
                            <span class="threadId">{{thread.created|date('m-d-Y G:iA')}}</span>
                        </div>
                        <p class="message">{{thread.message}}</p>
                        {% if thread.getReplies|length > 3 %}
                            <div class="moreReplies">There are {{thread.getReplies|length - 3}} replies not shown here. Click <a href="{{ path('imageboard_reply_new', {'id':thread.id}) }}">reply</a> to view the entire thread. </div>
                        {% endif %}
                        {% for reply in thread.previewReplies %}
                            <div class="reply">
                                <img class="replyImage" src="{{ asset('img_data/reply/'~reply.image) }}">
                                <div class="replyHeader">
                                    <span class="threadId">No.{{reply.id}}</span>
                                    <span class="author">{{reply.user.getDisplayName}}</span>
                                    <span class="threadId">{{reply.created|date('m-d-Y G:iA')}}</span>
                                </div>
                                <p class="message">{{ reply.message }}</p>
                            </div>
                            <div class="clearfix"></div>
                        {% endfor %}

                        <div class="clearfix"></div>
                    </div>

                {% endfor %}
            </div>
        {% endblock %}