{% extends "DominickImageboardBundle::layout.html.twig" %}

{% block title "Imageboard Home" %}

    {% block content_header '' %}

        {% block content %}

            <div class="row">
                <div class="col-md-6">
                    {{ render(controller('DominickImageboardBundle:Thread:new')) }}
                </div>
                <div class="col-md-6">
                    <h4>Welcome</h4>
                    <p>This is a Futaba-style style imageboard based on Symfony. You may browse, reply to, or start new topics as a registered user or anonymously. </p>
               </div>
            </div>

            <div id="latestThreads">

                <h2>Latest threads</h2>
                <hr>
                {% for thread in threads %}
                    <div class="thread" id="{{thread.id}}">
                        <a class="threadImage" href="{{ asset('img_data/thread/'~thread.image) }}" target="_blank">
                            <img src="{{ asset('img_data/thread/'~thread.thumbnail) }}">
                        </a>
                        <div class="threadHeader">
                            <a class="threadId" href="{{ path('imageboard_thread_view', {'id':thread.id}) }}">No.{{thread.id}}</a> // <span class="subject">{{thread.subject}}</span> <a class="btn btn-default replyButton" href="{{ path('imageboard_thread_view', {'id':thread.id}) }}"><span class="glyphicon glyphicon-comment"></span> Reply</a>
                            {% if is_granted('ROLE_ADMIN') %}
                                <a class="btn btn-danger btn-xs deleteButton" href="{{ path('imageboard_thread_delete', {'id':thread.id}) }}">Delete Thread</a>
                            {% endif %}
                            <br>
                            <span class="author">
                            {% if thread.user.getDisplayName is defined %}
                                {{thread.user.getDisplayName}}
                            {% else %}
                                Anonymous
                            {% endif %}
                            </span>
                            <span class="threadId">{{thread.created|date('m-d-Y G:iA')}}</span>
                        </div>
                        <p class="message">{{thread.message}}</p>
                        {% if thread.getReplies|length > 3 %}
                            <div>
                                <span class="moreReplies">There are {{thread.getReplies|length - 3}} replies not shown here. Click <a href="{{ path('imageboard_thread_view', {'id':thread.id}) }}">reply</a> to view the entire thread. </span>
                            </div>
                        {% endif %}
                        {% for reply in thread.previewReplies %}
                            <div class="reply">
                                {% if reply.image is not empty %}
                                    <a class="replyImage" href="{{ asset('img_data/reply/'~reply.image) }}" target=_blank">
                                        <img src="{{ asset('img_data/reply/'~reply.thumbnail) }}">
                                    </a>                                {% endif %}
                                <div class="replyHeader">
                                    <span class="threadId">No.{{reply.id}}</span>
                                    <span class="author">
                                        {% if reply.user.getDisplayName is defined %}
                                            {{reply.user.getDisplayName}}
                                        {% else %}
                                            Anonymous
                                        {% endif %}
                                    </span>
                                    <span class="threadId">{{reply.created|date('m-d-Y G:iA')}}</span>
                                </div>
                                <p class="message">{{ reply.message }}</p>
                            </div>
                            <div class="clearfix"></div>
                        {% endfor %}

                        <div class="clearfix"></div>
                    </div>

                {% endfor %}

                <div class="pagination">

                    <ul class="pagination">
                        {% if nextPage != 1 %}
                            <li>
                                <a href="{{ path('imageboard_next', {'pageNumber':nextPage-2}) }}">Previous Page</a>
                            </li>
                        {% endif %}
                        {% for i in 0..totalPages %}
                            <li>
                                <a href="{{ path('imageboard_next', {'pageNumber':i}) }}">
                                    {% if i == 0 %}
                                        Home
                                    {% else %}
                                        {{ i }}
                                    {% endif %}
                                </a>
                            </li>
                        {% endfor %}
                        {% if totalPages != nextPage-1 %}
                            <li>
                                <a href="{{ path('imageboard_next', {'pageNumber':nextPage}) }}">Next Page</a>
                            </li>
                        {% endif %}
                    </ul>
                </div>

            </div>
        {% endblock %}